@charset "UTF-8";
/*公共样式*/
body { margin: 0; padding: 0; }

.control span { font-size: 36px; color: #333; font-weight: 700; }
.control .btn { width: 100px; height: 40px; font-size: 22px; line-height: 40px; text-align: center; background-color: #fff; border: 1px solid #555; text-decoration: none; color: #000; }
.control .btn:focus { background: #333; color: #fff; }
.control .btnActive { display: inline-block; width: 100px; height: 40px; font-size: 22px; line-height: 40px; text-align: center; border: 1px solid #555; text-decoration: none; color: #fff; background-color: #333; }

.light { width: 1200px; margin: 0 auto; margin-top: 50px; }
.light span { display: inline-block; width: 60px; height: 60px; border: 1px solid #444; line-height: 60px; text-align: center; transition: all 0.2s; }
.light span + span { margin-left: 60px; }
.light .active { background-color: #888; color: #fff; }
